html {
	background-color: #297;
	padding-top: 30px;
	padding: 50px;
	background: -webkit-linear-gradient(#297, #507);
}
body {
	width: 80%;
	background-color: #257;
	border: 3px dashed #299526;
	background: -webkit-linear-gradient(#257, #388);
	padding: 15px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
	background-image: url(./images/bg_page.png);
}
p {
	font-family: "Sevillana", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #165;
	font-size: 25pt;
	margin-top: 20px; 
	margin-left: 60px; 
	
}
h1, h2{
	color: #789578;
	
}
h2{ 
	border-bottom: 2px white solid;
	background: url(./images/head-icon/png) no-repet 10px 10px;
	padding: 0 0 2px 60px;
	margin: 0;
}
.intro{
	color: #111111;
	font-size: 1.4em:
	margin-left: 0;
	margin-bottom: 25px;	
}
address {
	font-size: 1.25em;
	color: #798798;
	line-height: 150%;
	margin-top: 20px;
	margin-left: 60px;
	
}